<div>
  <h2 id="page-heading" data-cy="ReleveFactureHeading">
    <span jhiTranslate="ecomArtCoursesApp.releveFacture.home.title">Releve Factures</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ecomArtCoursesApp.releveFacture.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-releve-facture"
        [routerLink]="['/releve-facture/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ecomArtCoursesApp.releveFacture.home.createLabel"> Create a new Releve Facture </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="releveFactures?.length === 0">
    <span jhiTranslate="ecomArtCoursesApp.releveFacture.home.notFound">No Releve Factures found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="releveFactures && releveFactures.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="montant">
            <div class="d-flex">
              <span jhiTranslate="ecomArtCoursesApp.releveFacture.montant">Montant</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="ecomArtCoursesApp.releveFacture.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateAt">
            <div class="d-flex">
              <span jhiTranslate="ecomArtCoursesApp.releveFacture.updateAt">Update At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="acheteur.id">
            <div class="d-flex">
              <span jhiTranslate="ecomArtCoursesApp.releveFacture.acheteur">Acheteur</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let releveFacture of releveFactures; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/releve-facture', releveFacture.id, 'view']">{{ releveFacture.id }}</a>
          </td>
          <td>{{ releveFacture.montant }}</td>
          <td>{{ releveFacture.createdAt | formatMediumDatetime }}</td>
          <td>{{ releveFacture.updateAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="releveFacture.acheteur">
              <a [routerLink]="['/acheteur', releveFacture.acheteur.id, 'view']">{{ releveFacture.acheteur.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/releve-facture', releveFacture.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/releve-facture', releveFacture.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(releveFacture)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
