<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <div class="divTitle">
        <h3 class="my-4">{{ course?.nomProduit }}</h3>
        <div class="align-items-center">
          <ul class="list-inline mb-0">
            <li class="list-inline-item" *ngIf="course?.souscategorie?.categorieName">
              <button class="btn btn-light btn-sm mb-xl-0" (click)="searchCategory(course?.souscategorie?.categorieName!)">
                {{ course?.souscategorie?.categorieName }}
              </button>
            </li>
            <li class="list-inline-item" *ngIf="course?.souscategorie?.typeSousCategorie">
              <button class="btn btn-light btn-sm mb-xl-0" (click)="searchCategory(course?.souscategorie?.typeSousCategorie!)">
                {{ course?.souscategorie?.typeSousCategorie }}
              </button>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="row g-4">
        <!-- Image -->
        <div class="col-md-6 col-lg-6">
          <img src="{{ course?.lienImg }}" width="100%" class="rounded" alt="{{ course?.nomProduit }}" />
        </div>

        <!-- List -->
        <div class="col-md-6 col-lg-6">
          <p class="text-justify">
            {{ course?.desc! }}
          </p>
          <div class="divPriceBuy">
            <div class="divPricePromo">
              <span [ngClass]="{ 'text-decoration-line-through pricePromo': course?.promo, price: !course?.promo }">
                {{ course?.tarifUnit }}€
              </span>
              <span *ngIf="course?.promo" class="text-danger promo fw-bold"
                >{{ course?.tarifUnit! - (course?.tarifUnit! * course?.promo!) / 100 }}€ ({{ course?.promo }}% de réduction)</span
              >
            </div>
            <div class="divPay">
              <div [ngClass]="{ 'text-danger': course?.quantiteDispo! < 0.15 * course?.quantiteTotale! }" class="fw-bold">
                {{ course?.quantiteDispo! }} place{{ course?.quantiteDispo! > 1 ? 's' : '' }} disponible{{
                  course?.quantiteDispo! > 1 ? 's' : ''
                }}
              </div>

              <div class="input-group">
                <select class="custom-select" #amount (change)="onSelected(amount.value)" [disabled]="course?.quantiteDispo == 0">
                  <option *ngIf="course?.quantiteDispo == 0; else dispoPlace">0</option>
                  <ng-template #dispoPlace>
                    <option *ngFor="let item of counter(course?.quantiteDispo!); let i = index">
                      {{ i + 1 }}
                    </option>
                  </ng-template>
                </select>
                <div class="input-group-append">
                  <button
                    type="button"
                    class="btn btn-primary fontBig cartStyle"
                    id="btn-cart"
                    (click)="addToCart(course!, selectedAmount)"
                    [disabled]="course?.quantiteDispo == 0"
                  >
                    <span>Ajouter au panier</span>
                    <fa-icon icon="cart-plus" class="addToCart"></fa-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Author info -->
      <div class="bg-mode rounded p-4 my-3 box-shadow-base">
        <div class="my-3 d-flex justify-content-between infoDiv">
          <div class="text-center courseInfo">
            <fa-icon icon="person-chalkboard" class="fontBigger"></fa-icon>
            <span class="courseInfoTitle">
              <span class="title">Tuteur/Tutrice</span>
              <span class="subtitle">{{ course?.nomProf ? course?.nomProf : 'Non attribué' }}</span>
            </span>
          </div>

          <div class="text-center courseInfo">
            <fa-icon icon="calendar-alt" class="fontBigger"></fa-icon>
            <span class="courseInfoTitle">
              <span class="title">Date</span>
              <span class="subtitle">{{ course?.date!.format('DD/MM/YYYY à HH') }}h{{ course?.date!.format('mm') }}</span>
            </span>
          </div>

          <div class="text-center courseInfo">
            <fa-icon icon="clock" class="fontBigger"></fa-icon>
            <span class="courseInfoTitle">
              <span class="title">Durée</span>
              <span class="subtitle">{{ course?.duree! }} heure{{ +course?.duree! > 1 ? 's' : '' }}</span>
            </span>
          </div>
        </div>
      </div>

      <!-- Social links and END -->
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ display: display }">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Vous n'êtes pas connecté!</h5>
        <button type="button" class="close" (click)="onCloseHandled()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">Veuillez vous connecter pour ajouter à votre panier.</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="onCloseHandled()">Fermer</button>
        <button type="button" class="btn btn-primary" (click)="goToLogin()">Se Connecter</button>
      </div>
    </div>
  </div>
</div>
