.box-shadow-base {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 0.16);
}

.text-justify {
  text-align: justify;
}

#btn-cart {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu):not(.form-floating),
.input-group:not(.has-validation) > .dropdown-toggle:nth-last-child(n + 3),
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-control,
.input-group:not(.has-validation) > .form-floating:not(:last-child) > .form-select {
  border-bottom-left-radius: 0.375rem !important;
  border-top-left-radius: 0.375rem !important;
}

.courseInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.courseInfoTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
}

.title {
  font-size: smaller;
}

.subtitle {
  font-size: large;
  font-weight: bold;
}

.fontBigger {
  font-size: xx-large;
}

.fontBig {
  font-size: large;
}

.addToCart {
  margin-left: 5px;
}
