<div class="container">
  <div class="row">
    <div class="col-lg-10 mx-auto">
      <h3 class="my-4">{{ course.nomProduit }}</h3>
      <hr />
      <div class="row g-4">
        <!-- Image -->
        <div class="col-md-6 col-lg-6">
          <img src="{{ course.lienImg }}" width="100%" class="rounded" alt="{{ course.nomProduit }}" />
        </div>

        <!-- List -->
        <div class="col-md-6 col-lg-6">
          <p class="text-justify">
            {{ course.desc }}
          </p>
          <ul>
            <li>
              Tarif unitaire:
              <span [ngClass]="{ 'text-decoration-line-through fs-6': course.promo }">{{ course.tarifUnit }}€</span>
              <span *ngIf="course.promo" class="text-danger fs-5 fw-bold"
                >{{ course.tarifUnit - (course.tarifUnit * course.promo) / 100 }}€ ({{ course.promo }}% de réduction)</span
              >
            </li>
            <li class="fw-bold">
              <span [ngClass]="{ 'text-danger': course.quantiteDispo < 0.15 * course.quantiteTotale }"
                >{{ course.quantiteDispo }} places disponibles</span
              >
            </li>
          </ul>

          <div class="input-group">
            <select class="custom-select" #amount (change)="onSelected(amount.value)">
              <option *ngFor="let item of counter(course.quantiteDispo); let i = index">
                {{ i + 1 }}
              </option>
            </select>
            <div class="input-group-append">
              <button type="button" class="btn btn-primary fontBig" id="btn-cart" (click)="addToCart(course, selectedAmount)">
                <span>Ajouter au panier</span>
                <fa-icon icon="cart-plus" class="addToCart"></fa-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Author info -->
      <div class="bg-mode rounded p-4 my-3 box-shadow-base">
        <div class="my-3 d-flex justify-content-between infoDiv">
          <div class="text-center courseInfo">
            <fa-icon icon="person-chalkboard" class="fontBigger"></fa-icon>
            <span class="courseInfoTitle">
              <span class="title">Tuteur/Tutrice</span>
              <span class="subtitle">{{ course.nomProf }}</span>
            </span>
          </div>

          <div class="text-center courseInfo">
            <fa-icon icon="calendar-alt" class="fontBigger"></fa-icon>
            <span class="courseInfoTitle">
              <span class="title">Date</span>
              <span class="subtitle">{{ course.dateTime | date : 'dd/MM/yy à HH' }}h{{ course.dateTime | date : 'mm' }}</span>
            </span>
          </div>

          <div class="text-center courseInfo">
            <fa-icon icon="clock" class="fontBigger"></fa-icon>
            <span class="courseInfoTitle">
              <span class="title">Durée</span>
              <span class="subtitle">{{ course.duree }} heures</span>
            </span>
          </div>
        </div>
      </div>

      <!-- Buttons -->
      <div class="d-flex align-items-center justify-content-between">
        <!-- Social icons -->
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link ps-0 pe-2 fs-5" href="#"><i class="bi bi-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 fs-5" href="#"><i class="bi bi-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-2 fs-5" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
          </li>
        </ul>
      </div>

      <!-- Social links and tags -->
      <div class="d-lg-flex justify-content-lg-between mt-4">
        <!-- Social media button -->
        <div class="align-items-center mb-3 mb-lg-0">
          <h6 class="d-inline-block mb-2 me-4">Partager sur:</h6>
          <ul class="list-inline hstack flex-wrap gap-3 h6 fw-normal mb-0">
            <li class="list-inline-item">
              <a class="text-facebook" href="#"> <i class="fa-brands fa-facebook-square"></i> Facebook </a>
            </li>

            <li class="list-inline-item">
              <a class="text-instagram-gradient" href="#"> <i class="fa-brands fa-instagram-square"></i> Instagram </a>
            </li>

            <li class="list-inline-item">
              <a class="text-twitter" href="#"> <i class="fa-brands fa-twitter-square"></i> Twitter </a>
            </li>
          </ul>
        </div>
        <!-- Popular tags -->
        <div class="align-items-center">
          <h6 class="d-inline-block mb-2 me-4">Catégorie Tags:</h6>
          <ul class="list-inline mb-0">
            <!--<li class="list-inline-item"> <a class="btn btn-light btn-sm mb-xl-0" href="#">Poésie</a> </li>
            <li class="list-inline-item"> <a class="btn btn-light btn-sm mb-xl-0" href="#">Musique</a> </li>
            <li class="list-inline-item"> <a class="btn btn-light btn-sm mb-xl-0" href="#">Peinture</a> </li>
            <li class="list-inline-item"> <a class="btn btn-light btn-sm mb-xl-0" href="#">Sculpture</a> </li>-->
            <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0" href="#">Jeu d'échec</a></li>
            <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0" href="#">Culture</a></li>
            <li class="list-inline-item"><a class="btn btn-light btn-sm mb-xl-0" href="#">Jeux</a></li>
          </ul>
        </div>
      </div>
      <!-- Social links and END -->
    </div>
  </div>
</div>
