.box-shadow-base {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 0.16);
}

.list-group {
  --bs-list-group-border-width: unset !important;
  --bs-list-group-border-radius: unset !important;
}

#list-payment {
  min-height: calc(40vw);
}

#list-products {
  height: calc(40vw - 215px);
  overflow-y: scroll;
  -webkit-overflow-scrolling: auto;
  border-top-left-radius: 0.375rem !important;
  border-top-right-radius: 0.375rem !important;
}

#list-products::-webkit-scrollbar {
  -webkit-appearance: none;
}

#list-products::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.5);
}

#list-prices {
  border-bottom-left-radius: 0.375rem !important;
  border-bottom-right-radius: 0.375rem !important;
}

.border-item-bottom {
  border-bottom: 1px solid #dee2e6;
}

.margin-sommaire {
  margin-bottom: 38px;
}

.text-red {
  color: #b12704;
}

.msg-invalid {
  width: 100%;
  font-size: 0.875em;
  color: #dc3545;
}

.w-90 {
  width: 90%;
}

.img-rounded {
  border-radius: 5%;
}

.pointer {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  #list-summary{
    margin-top: 3rem;
  }
}

@media screen and (max-width: 1200px){
  .margin-sommaire {
    margin-bottom: 61px;
  }
}
