<div class="container">
  <div class="row">
    <div class="col-md-6 col-lg-8">
      <h4 class="my-0">Paiement carte bancaire</h4>
      <p class="fs-6 text-muted">Afin de finaliser votre commande, veuillez compléter vos coordonnées de paiement.</p>

      <ul class="list-group mb-0 shadow-lg bg-body rounded" id="list-payment">
        <li class="list-group-item d-flex justify-content-between lh-sm border-item-bottom">
          <div class="form-check d-flex align-items-center">
            <input class="form-check-input" type="radio" disabled />
            <label class="form-check-label">
              <img src="https://booking.webestica.com/assets/images/element/paypal.svg" class="h-30px ms-2" alt="" height="30" />
            </label>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm border-item-bottom">
          <div class="form-check d-flex align-items-center">
            <input class="form-check-input" type="radio" disabled />
            <label class="form-check-label">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Apple_Pay_logo.svg/1200px-Apple_Pay_logo.svg.png"
                class="h-30px ms-3"
                alt=""
                height="17"
              />
            </label>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm border-item-bottom">
          <div class="form-check d-flex align-items-center">
            <input class="form-check-input" type="radio" disabled />
            <label class="form-check-label">
              <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Google_Pay_Logo.svg/1200px-Google_Pay_Logo.svg.png"
                class="h-30px ms-3"
                alt=""
                height="20"
              />
            </label>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm border-item-bottom">
          <div class="form-check d-flex align-items-center">
            <input class="form-check-input" type="radio" checked="checked" />
            <label class="form-check-label ms-3"> Carte de crédit </label>
          </div>
          <div class="d-flex align-items-center">
            <img src="https://booking.webestica.com/assets/images/element/visa.svg" class="h-30px ms-3" alt="" height="27" />
            <img src="https://booking.webestica.com/assets/images/element/mastercard.svg" class="h-30px ms-3" alt="" height="27" />
          </div>
        </li>

        <li class="list-group-item d-flex justify-content-center lh-sm py-5">
          <form
            [formGroup]="paymentForm"
            [ngClass]="{ 'was-validated': paymentForm.valid }"
            class="needs-validation row gy-3 w-90"
            novalidate
          >
            <div class="col-md-12">
              <label for="cc-number" class="form-label">Numéro de carte</label>

              <div class="input-group mb-3">
                <span class="input-group-text">
                  <fa-icon [icon]="faCreditCardAlt"></fa-icon>
                </span>
                <input
                  type="text"
                  class="form-control"
                  id="cc-number"
                  maxlength="16"
                  placeholder="0000 0000 0000 0000"
                  formControlName="card_number"
                />
              </div>

              <div
                class="msg-invalid"
                *ngIf="
                  paymentForm.controls['card_number'].invalid &&
                  (paymentForm.controls['card_number'].dirty || paymentForm.controls['card_number'].touched)
                "
              >
                Numéro de carte bancaire invalide
              </div>
            </div>

            <div class="col-md-6">
              <label for="cc-expiration" class="form-label">Date d'expiration</label>

              <div class="input-group mb-3">
                <span class="input-group-text">
                  <fa-icon [icon]="faCalendarAlt"></fa-icon>
                </span>

                <input
                  type="text"
                  class="form-control"
                  id="cc-expiration"
                  name="cc-expiration"
                  placeholder="MM/YY"
                  formControlName="date_exp"
                  data-cy="date_exp"
                  [(ngModel)]="model_date_expiration"
                />
              </div>
              <div
                class="msg-invalid"
                *ngIf="
                  paymentForm.controls['date_exp'].invalid &&
                  (paymentForm.controls['date_exp'].dirty || paymentForm.controls['date_exp'].touched)
                "
              >
                Date d'expiration invalide
              </div>
            </div>

            <div class="col-md-6">
              <label for="cc-cvv" class="form-label">Cryptogramme visuel</label>

              <div class="input-group mb-3">
                <span class="input-group-text">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
                <input type="password" class="form-control" id="cc-cvv" placeholder="000" formControlName="ccv" />
              </div>
              <div
                class="msg-invalid"
                *ngIf="paymentForm.controls['ccv'].invalid && (paymentForm.controls['ccv'].dirty || paymentForm.controls['ccv'].touched)"
              >
                Cryptogramme visuel invalide
              </div>
            </div>
          </form>

          <!--<p>Form value: {{ paymentForm.value | json }}</p>
          <p>Form status: {{ paymentForm.status | json }}</p>-->
        </li>
      </ul>
    </div>

    <div class="col-md-6 col-lg-4 order-md-last" id="list-summary">
      <h4 class="d-flex justify-content-between align-items-center margin-sommaire">
        <span class="text-primary">Sommaire</span>
        <span class="badge bg-primary rounded-pill">{{ quantite }}</span>
      </h4>

      <ul class="list-group shadow-lg bg-body" id="list-products">
        <li
          *ngFor="let commande of commandes"
          class="align-items-center list-group-item d-flex justify-content-between lh-sm border-item-bottom py-4"
        >
          <img
            src="{{ commande.produit?.lienImg }}"
            width="25%"
            height="60"
            class="col-4 img-rounded pointer"
            alt="image d'un produit"
            (click)="viewDetails(commande.produit?.id!)"
          />
          <div class="col-6 ps-3">
            <h6 class="my-0 pointer" (click)="viewDetails(commande.produit?.id!)">{{ commande.produit?.nomProduit }}</h6>
            <small class="text-muted">Quantité: {{ commande.quantite }}</small>
          </div>
          <!-- <div class="col"> 
             <h6 *ngIf="commande.produit.promo" [ngClass]="{ 'text-decoration-line-through': commande.produit.promo }">
              {{ (commande.produit.tarifUnit * commande.quantite).toFixed(2) }}€
            </h6>
            <span *ngIf="commande.produit.promo; else montantWithoutPromo" class="text-danger">
              {{
                ((commande.produit.tarifUnit - (commande.produit.tarifUnit * commande.produit.promo) / 100) * commande.quantite).toFixed(2)
              }}€
            </span> 
           </div> -->
          <!-- <ng-template #montantWithoutPromo>  -->
          <span>{{ (commande.produit?.tarifUnit! * commande.quantite!).toFixed(2) }}€</span>
          <!-- </ng-template> -->
        </li>
      </ul>

      <ul class="list-group mb-3 shadow-lg bg-body" id="list-prices">
        <li class="list-group-item py-3">
          <div class="d-flex justify-content-between">
            <span class="h5 fw-bold">Total TTC (EUR)</span>
            <strong class="h5 fw-bold text-red">{{ calcMontant().toFixed(2) }} €</strong>
          </div>
          <div class="d-flex justify-content-between">
            <span class="text-muted">dont TVA</span>
            <strong class="text-muted">{{ (calcMontant() * 0.2).toFixed(2) }} €</strong>
          </div>
        </li>

        <li class="list-group-item d-flex py-3">
          <button [disabled]="!paymentForm.valid" (click)="validatePayment()" type="submit" class="btn btn-primary w-100">
            Paiement sécurisé
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
