<div class="container">
  <div class="row g-5">

    <div class="col-md-6 col-lg-8">

      <h4 class="my-0">Paiement carte bancaire</h4>
      <p class="fs-6 text-muted">Afin de finaliser votre commande, veuillez de compléter vos coordonnées de paiement.</p>

      <ul class="list-group mb-3 shadow-lg mb-5 bg-body rounded" id="list-payment">
        <li class="list-group-item d-flex justify-content-between lh-sm border-item-bottom">
          <div class="form-check d-flex align-items-center">
            <input class="form-check-input" type="radio" disabled>
            <label class="form-check-label">
              <img src="https://booking.webestica.com/assets/images/element/paypal.svg" class="h-30px ms-2" alt="" height="35">
            </label>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm border-item-bottom">
          <div class="form-check d-flex align-items-center">
            <input class="form-check-input" type="radio" disabled>
            <label class="form-check-label">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Apple_Pay_logo.svg/1200px-Apple_Pay_logo.svg.png" class="h-30px ms-3" alt="" height="25">
            </label>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm border-item-bottom">
          <div class="form-check d-flex align-items-center">
            <input class="form-check-input" type="radio" disabled>
            <label class="form-check-label">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Google_Pay_Logo.svg/1200px-Google_Pay_Logo.svg.png" class="h-30px ms-3" alt="" height="25">
            </label>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm border-item-bottom">
          <div class="form-check d-flex align-items-center">
            <input class="form-check-input" type="radio">
            <label class="form-check-label ms-3">
              Carte de crédit
            </label>
          </div>
          <div class="d-flex align-items-center">
            <img src="https://booking.webestica.com/assets/images/element/visa.svg" class="h-30px ms-3" alt="" height="35">
            <img src="https://booking.webestica.com/assets/images/element/mastercard.svg" class="h-30px ms-3" alt="" height="35">
          </div>
        </li>

        <li class="list-group-item d-flex justify-content-center lh-sm py-5">

          <form [formGroup]="paymentForm" class="needs-validation was-validated row gy-3 w-75" novalidate>

            <div class="col-md-12">
              <label for="cc-number" class="form-label">Numéro de carte</label>

              <input type="text" class="form-control" id="cc-number" placeholder="0000 0000 0000 0000" formControlName="card_number">

              <!--<div class="input-group mb-3">
                <span class="input-group-text">
                  <fa-icon [icon]="faCreditCardAlt"></fa-icon>
                </span>
                <input type="text" class="form-control" id="cc-number" placeholder="0000 0000 0000 0000" formControlName="card_number">
              </div>-->

              <div class="invalid-feedback">
                Numéro de carte est nécessaire
              </div>
            </div>

            <div class="col-md-6">
              <label for="cc-expiration" class="form-label">Date d'expiration</label>

              <input type="text" class="form-control" id="cc-expiration" placeholder="MM/YY" formControlName="date_exp">

              <!--<div class="input-group mb-3">
                <span class="input-group-text">
                  <fa-icon [icon]="faCalendarAlt"></fa-icon>
                </span>
                <input type="text" class="form-control" id="cc-expiration" placeholder="MM/YY" formControlName="date_exp">
              </div>-->
              <div class="invalid-feedback">
                Date d'expiration est nécessaire
              </div>
            </div>

            <div class="col-md-6">
              <label for="cc-cvv" class="form-label">Cryptogramme visuel</label>

              <input type="password" class="form-control" id="cc-cvv" placeholder="000" formControlName="ccv">

              <!--<div class="input-group mb-3">
                <span class="input-group-text">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
                <input type="password" class="form-control" id="cc-cvv" placeholder="000" formControlName="ccv">
              </div>-->

              <div class="invalid-feedback">
                Cryptogramme visuel est nécessaire
              </div>
            </div>

          </form>

          <!--<p>Form value: {{ paymentForm.value | json }}</p>
          <p>Form status: {{ paymentForm.status | json }}</p>-->

        </li>

      </ul>
    </div>

    <div class="col-md-6 col-lg-4 order-md-last">

      <h4 class="d-flex justify-content-between align-items-center margin-sommaire">
        <span class="text-primary">Sommaire</span>
        <span class="badge bg-primary rounded-pill">{{ commandes.length }}</span>
      </h4>

      <ul class="list-group mb-3 shadow-lg bg-body rounded">



        <li *ngFor="let commande of commandes" class="align-items-center list-group-item d-flex justify-content-between lh-sm border-item-bottom py-4">
          <div class="row align-items-center">
            <img src="{{commande.produit.lienImg}}" width="25%" class="col-4 img-rounded" alt="image d'un produit" />

            <div class="col-6">
              <h6 class="my-0">{{commande.produit.nomProduit}}</h6>
              <small class="text-muted">Quantité: {{commande.quantite}}</small>
            </div>
          </div>
          <span class="text-muted">{{commande.produit.tarifUnit * commande.quantite}}€</span>
        </li>


        <li class="col align-items-center list-group-item border-item-bottom py-4">
          <div class="d-flex justify-content-between">
            <span class="fw-bold">Sous-total</span>
            <strong class="fw-bold">{{ calcMontant() }} €</strong>
          </div>
          <div class="d-flex justify-content-between">
            <span class="fw-bold">TVA</span>
            <strong class="fw-bold">{{ calcMontant() * 0.2 }} €</strong>
          </div>
        </li>

        <li class="list-group-item d-flex justify-content-between py-4">
          <span class="h4 fw-bold">Total TTC (EUR)</span>
          <strong class="h4 fw-bold text-red">{{ calcMontant() * 1.2 }} €</strong>
        </li>

        <li class="list-group-item d-flex py-3">
          <button (click)="validatePayment()" type="submit" class="btn btn-lg btn-primary w-100">Paiement sécurise</button>
        </li>
      </ul>
    </div>

  </div>
</div>


