<div class="row">
  <div class="col-md-2">
    <!-- <span class="hipster img-fluid rounded"></span> -->
    <!-- PUT FILTER HERE -->
  </div>

  <div class="col-md-10">
    <div class="row">
      <div *ngFor="let course of courses" class="col-md-auto">
        <div class="card" style="width: 18rem">
          <img class="card-img-top" src="{{ course.lienImg }}" alt="{{ course.nomProduit }} img" />
          <div class="card-body">
            <h5 class="card-title">{{ course.nomProduit }}</h5>
            <p class="card-text quantity" [ngClass]="{ 'text-danger': course.quantiteDispo < 10 }">
              {{ course.quantiteDispo }} places left
            </p>
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                [ngStyle]="{ width: ((course.quantiteTotale - course.quantiteDispo) / course.quantiteTotale) * 100 + '%' }"
                [ngClass]="{ 'bg-danger': course.quantiteDispo < 10 }"
                [attr.aria-valuenow]="course.quantiteTotale - course.quantiteDispo"
                aria-valuemin="0"
                [attr.aria-valuenow]="course.quantiteTotale"
              ></div>
            </div>

            <br />
            <div class="card-text moreInfo flexible">{{ course.difficulte }} · {{ course.horaire }}</div>
            <br />
            <div class="text-center price-div">
              <span class="card-text price">
                <span [ngClass]="{ promoStrikeout: course.promo }"> {{ course.tarifUnit }}€ </span>
                <span *ngIf="course.promo" class="promo text-danger"
                  >{{ course.tarifUnit - (course.tarifUnit * course.promo) / 100 }}€ ({{ course.promo }}% off)</span
                >
              </span>
              <button type="button" class="btn btn-primary cart" (click)="viewDetails()"><fa-icon [icon]="faCartPlus"></fa-icon></button>
            </div>
          </div>
        </div>
      </div>

      <!-- <div [ngSwitch]="account !== null">
      <div class="alert alert-success" *ngSwitchCase="true">
        <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
          >You are logged in as user "{{ account.login }}".</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
        <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a
        ><span jhiTranslate="global.messages.info.authenticated.suffix"
          >, you can try the default accounts:<br />- Administrator (login="admin" and password="admin") <br />- User (login="user" and
          password="user").</span
        >
      </div>

      <div class="alert alert-warning" *ngSwitchCase="false">
        <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
        <a class="alert-link" routerLink="/account/register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
      </div>
    </div>

    <p jhiTranslate="home.question">If you have any question on JHipster:</p>

    <ul>
      <li>
        <a href="https://www.jhipster.tech/" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.homepage"
          >JHipster homepage</a
        >
      </li>
      <li>
        <a
          href="https://stackoverflow.com/tags/jhipster/info"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.stackoverflow"
          >JHipster on Stack Overflow</a
        >
      </li>
      <li>
        <a
          href="https://github.com/jhipster/generator-jhipster/issues?state=open"
          target="_blank"
          rel="noopener noreferrer"
          jhiTranslate="home.link.bugtracker"
          >JHipster bug tracker</a
        >
      </li>
      <li>
        <a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.chat"
          >JHipster public chat room</a
        >
      </li>
      <li>
        <a href="https://twitter.com/jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.link.follow"
          >follow @jhipster on Twitter</a
        >
      </li>
    </ul>

    <p>
      <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span>
      <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener noreferrer" jhiTranslate="home.github"
        >GitHub</a
      >!
    </p> -->
    </div>
  </div>
</div>
