<div>
  <h2 id="page-heading" data-cy="AcheteurHeading">
    <span jhiTranslate="ecomArtCoursesApp.acheteur.home.title">Acheteurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="ecomArtCoursesApp.acheteur.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-acheteur"
        [routerLink]="['/acheteur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="ecomArtCoursesApp.acheteur.home.createLabel"> Create a new Acheteur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="acheteurs?.length === 0">
    <span jhiTranslate="ecomArtCoursesApp.acheteur.home.notFound">No Acheteurs found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="acheteurs && acheteurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adresse">
            <div class="d-flex">
              <span jhiTranslate="ecomArtCoursesApp.acheteur.adresse">Adresse</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="dateNaiss">
            <div class="d-flex">
              <span jhiTranslate="ecomArtCoursesApp.acheteur.dateNaiss">Date Naiss</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numTel">
            <div class="d-flex">
              <span jhiTranslate="ecomArtCoursesApp.acheteur.numTel">Num Tel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="ecomArtCoursesApp.acheteur.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="updateAt">
            <div class="d-flex">
              <span jhiTranslate="ecomArtCoursesApp.acheteur.updateAt">Update At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="internalUser.id">
            <div class="d-flex">
              <span jhiTranslate="ecomArtCoursesApp.acheteur.internalUser">Internal User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let acheteur of acheteurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/acheteur', acheteur.id, 'view']">{{ acheteur.id }}</a>
          </td>
          <td>{{ acheteur.adresse }}</td>
          <td>{{ acheteur.dateNaiss | formatMediumDate }}</td>
          <td>{{ acheteur.numTel }}</td>
          <td>{{ acheteur.createdAt | formatMediumDatetime }}</td>
          <td>{{ acheteur.updateAt | formatMediumDatetime }}</td>
          <td>
            {{ acheteur.internalUser?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/acheteur', acheteur.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/acheteur', acheteur.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(acheteur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
