<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-ligne-commande-heading"
        data-cy="LigneCommandeCreateUpdateHeading"
        jhiTranslate="ecomArtCoursesApp.ligneCommande.home.createOrEditLabel"
      >
        Create or edit a Ligne Commande
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecomArtCoursesApp.ligneCommande.quantite" for="field_quantite">Quantite</label>
          <input type="number" class="form-control" name="quantite" id="field_quantite" data-cy="quantite" formControlName="quantite" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecomArtCoursesApp.ligneCommande.montant" for="field_montant">Montant</label>
          <input type="number" class="form-control" name="montant" id="field_montant" data-cy="montant" formControlName="montant" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecomArtCoursesApp.ligneCommande.valided" for="field_valided">Valided</label>
          <input type="number" class="form-control" name="valided" id="field_valided" data-cy="valided" formControlName="valided" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecomArtCoursesApp.ligneCommande.createdAt" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecomArtCoursesApp.ligneCommande.updateAt" for="field_updateAt">Update At</label>
          <div class="d-flex">
            <input
              id="field_updateAt"
              data-cy="updateAt"
              type="datetime-local"
              class="form-control"
              name="updateAt"
              formControlName="updateAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecomArtCoursesApp.ligneCommande.produit" for="field_produit">Produit</label>
          <select
            class="form-control"
            id="field_produit"
            data-cy="produit"
            name="produit"
            formControlName="produit"
            [compareWith]="compareProduit"
          >
            <option *ngIf="editForm.get(['produit'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="produitOption" *ngFor="let produitOption of produitsSharedCollection">{{ produitOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['produit'])!.invalid && (editForm.get(['produit'])!.dirty || editForm.get(['produit'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['produit'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="ecomArtCoursesApp.ligneCommande.commande" for="field_commande">Commande</label>
          <select
            class="form-control"
            id="field_commande"
            data-cy="commande"
            name="commande"
            formControlName="commande"
            [compareWith]="compareCommande"
          >
            <option *ngIf="editForm.get(['commande'])!.value == null" [ngValue]="null" selected></option>
            <option [ngValue]="commandeOption" *ngFor="let commandeOption of commandesSharedCollection">{{ commandeOption.id }}</option>
          </select>
        </div>
        <div *ngIf="editForm.get(['commande'])!.invalid && (editForm.get(['commande'])!.dirty || editForm.get(['commande'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['commande'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
